<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chats</title>

</head>
<body>
    <textarea id="chat" readonly rows="10" cols="50"></textarea><br>
    <input type="text" id="text">
    <button id="btn">
        Enviar
    </button>

    <script>
    
        const chatSocket = new WebSocket("ws://127.0.0.1:8000/ws/app/{{ nome }}/")

        chatSocket.onmessage = function(event){
            const data = JSON.parse(event.data);
            const chatArea = document.getElementById('chat');
            chatArea.value += data.message + '\n';
            chatArea.scrollTop = chatArea.scrollHeight;
        }


        var btn = document.getElementById('btn')
        btn.addEventListener("click", function(event){
            mensagem = document.getElementById('text').value
            if(mensagem.length == 0){
                
            }else{
                chatSocket.send(JSON.stringify({
                    'message': mensagem
                }));
                document.getElementById('text').value = ''
            }

            

        }, true)

    </script>

</body>
</html>